:root {
  --accent: #ff6c00;
  --prim-bcgd: #ffffff;
  --scnd-bcgd: #f7f7f7;
  --tert-bcgd: #111319;
  --quat-bcgd: #191c26;
  --prim-text: #303030;
  --scnd-text: #9da4bd;
  --tert-text: #555555;
  --quat-text: rgba(157, 164, 189, 0.6);
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  letter-spacing: 0.02em;
  background-color: var(--prim-bcgd);
  color: var(--prim-text);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
button {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.footer__container, .invitation__container, .gallery__container, .teammates__container, .features__container, .prices__container, .about__container, .hero__container, .page-header__container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 679px) {
  .footer__container, .invitation__container, .gallery__container, .teammates__container, .features__container, .prices__container, .about__container, .hero__container, .page-header__container {
    max-width: 480px;
  }
}
@media screen and (min-width: 680px) and (max-width: 1199px) {
  .footer__container, .invitation__container, .gallery__container, .teammates__container, .features__container, .prices__container, .about__container, .hero__container, .page-header__container {
    width: 680px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container, .invitation__container, .gallery__container, .teammates__container, .features__container, .prices__container, .about__container, .hero__container, .page-header__container {
    width: 1200px;
  }
}

.invitation__container, .gallery__container, .teammates__container, .features__container, .prices__container, .about__container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.contacts__title, .booking__title, .teammates__title, .features__title, .prices__title, .about__title, .hero__title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}

.footer__link, .footer__info, .contacts__info, .gallery__info, .teammates__info, .features__info, .features__label, .prices__info, .about__info, .hero__info {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}

.contacts__address, .features__desc, .about__desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
}

.page-header__contact-link, .page-header__nav-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--prim-bcgd);
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}
.page-header__contact-link:hover, .page-header__nav-link:hover, .page-header__contact-link:focus, .page-header__nav-link:focus {
  color: var(--accent);
}

.prices__btn, .about__btn, .page-header__contact-btn {
  padding: 11px 19px;
  border: 1px solid var(--accent);
  border-radius: 25px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--prim-bcgd);
  background-color: transparent;
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}
.prices__btn:hover, .about__btn:hover, .page-header__contact-btn:hover, .prices__btn:focus, .about__btn:focus, .page-header__contact-btn:focus {
  background-color: var(--accent);
}

.footer__list, .contacts__info, .gallery__info, .teammates__info, .features__info, .prices__info, .about__info, .hero__info, .hero__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__list::before, .contacts__info::before, .gallery__info::before, .teammates__info::before, .features__info::before, .prices__info::before, .about__info::before, .hero__info::before, .hero__social-list::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: currentColor;
}

.prices__scnd, .prices__prim {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  padding: 30px 20px;
  width: 570px;
}

.gallery__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  position: absolute;
  width: 100%;
}
.page-header__container {
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-header__logo {
  display: block;
  margin-right: 130px;
  z-index: 1;
}
.page-header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.page-header__nav-link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}
.page-header__contact {
  margin-left: auto;
  margin-right: 20px;
}
.page-header__contact-link {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
}
.page-header__contact-btn {
  margin-left: 40px;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__social {
  position: relative;
  width: 100px;
}
.hero__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  position: absolute;
  bottom: 40px;
  left: 65px;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.hero__social-link {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--prim-text);
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}
.hero__social-link:hover, .hero__social-link:focus {
  color: var(--accent);
}
.hero__social-icon {
  fill: currentColor;
}
.hero__social-link:hover .hero__social-icon, .hero__social-link:focus .hero__social-icon {
  fill: var(--accent);
}
.hero__content {
  padding: 272px 0 208px 100px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 1200px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../img/hero1.jpg);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/hero1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.hero__info {
  margin-bottom: 20px;
  color: var(--quat-text);
}
.hero__title {
  margin-bottom: 20px;
  font-size: 72px;
  line-height: 1.18;
  color: var(--prim-bcgd);
}
.hero__desc {
  max-width: 360px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  color: var(--scnd-text);
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.about__content {
  width: 470px;
}
.about__title {
  margin-top: 20px;
}
.about__desc {
  margin-top: 20px;
  color: var(--tert-text);
}
.about__annotation {
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.85;
  color: var(--tert-text);
}
.about__btn {
  margin-top: 42px;
  color: inherit;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}
.about__btn:hover, .about__btn:focus {
  color: var(--prim-bcgd);
}

.prices {
  background: #111319 url(../img/prices.png);
  background-position: center;
  background-repeat: no-repeat;
}
.prices__info {
  color: var(--quat-text);
}
.prices__title {
  margin-top: 20px;
  color: var(--prim-bcgd);
}
.prices__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-top: 44px;
}
.prices__prim {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.prices__scnd {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#090b13), to(rgba(9, 11, 19, 0.2)));
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}
.prices__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  color: var(--scnd-text);
}
.prices__item::after {
  content: "";
  height: 1px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 12px;
  background-color: rgba(157, 164, 189, 0.12);
}
.prices__price {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.prices__btn {
  display: block;
  margin: 44px auto 0 auto;
}

.features__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 100px;
  padding-right: 70px;
}
.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 370px;
}
.features__item {
  width: 170px;
  height: 133px;
  padding: 20px 24px;
  background-color: var(--scnd-bcgd);
}
.features__item:nth-child(even) {
  margin-top: 35px;
}
.features__item:nth-child(odd) {
  margin-right: 30px;
}
.features__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.features__numb {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.05em;
}
.features__numb-sup {
  font-size: 16px;
  top: -1.3em;
  color: var(--accent);
}
.features__label {
  margin-top: 6px;
  text-transform: none;
  text-align: center;
}
.features__content {
  width: 500px;
  padding-top: 10px;
}
.features__info {
  margin-bottom: 20px;
}
.features__title {
  margin-bottom: 20px;
}
.features__desc {
  color: var(--tert-text);
}

.teammates {
  background-color: var(--scnd-bcgd);
}
.teammates__title {
  margin-bottom: 44px;
}
.teammates__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.teammates__name {
  margin-top: 30px;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
}
.teammates__post {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  color: var(--accent);
}
.teammates__soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.teammates__soc-link {
  display: block;
  padding: 12px;
  border-radius: 50%;
  background-color: var(--prim-bcgd);
}
.teammates__soc-icon {
  display: block;
  -webkit-transition: fill 250ms linear;
  transition: fill 250ms linear;
}
.teammates__soc-link:hover .teammates__soc-icon, .teammates__soc-link:focus .teammates__soc-icon {
  fill: var(--accent);
}

.gallery__info {
  margin-bottom: 44px;
}
.gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.invitation {
  background-color: var(--quat-bcgd);
  background-image: url(../img/contacts.png);
  background-repeat: no-repeat;
  background-position: calc(50% + 392.5px);
}
.invitation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.booking {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.booking__title {
  color: var(--prim-bcgd);
}

.contacts {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: 100px;
}
.contacts__title {
  margin-bottom: 40px;
  color: var(--prim-bcgd);
}
.contacts__address {
  font-style: normal;
  color: var(--scnd-text);
}
.contacts__list {
  margin-bottom: 70px;
}
.contacts__item:not(:last-child) {
  margin-bottom: 20px;
}
.contacts__item:last-child {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: inherit;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}
.contacts__link.--address {
  font-weight: 700;
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent);
}
.contacts__addres-icon {
  -ms-flex-item-align: baseline;
      align-self: baseline;
  margin-top: 6px;
  stroke: #9da4bd;
  -webkit-transition: stroke 250ms linear;
  transition: stroke 250ms linear;
}
.contacts__link:hover .contacts__addres-icon, .contacts__link:focus .contacts__addres-icon {
  stroke: var(--accent);
}
.contacts__contact-icon {
  stroke: #9da4bd;
  -webkit-transition: stroke 250ms linear;
  transition: stroke 250ms linear;
}
.contacts__link:hover .contacts__contact-icon, .contacts__link:focus .contacts__contact-icon {
  stroke: var(--accent);
}
.contacts__info {
  margin-bottom: 20px;
  color: var(--prim-bcgd);
}
.contacts__info::before {
  background-color: rgba(157, 164, 189, 0.4);
}
.footer__container {
  padding-top: 56px;
  padding-bottom: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__info {
  color: var(--scnd-text);
}
.footer__list {
  gap: 40px;
}
.footer__link {
  color: inherit;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}
.footer__link:hover, .footer__link:focus {
  color: var(--accent);
}/*# sourceMappingURL=main.css.map */