.gallery {
	&__container {
		@extend %container;
		@extend %section;
	}

	&__info {
		@extend %pre-line;
		@extend %info;
		margin-bottom: 44px;
	}

	&__title {
		@extend %vs-hidden;
	}

	&__list {
		display: flex;
		gap: 30px;
	}

	&__item {
	}
}
