:root {
	--accent: #ff6c00;
	--prim-bcgd: #ffffff;
	--scnd-bcgd: #f7f7f7;
	--tert-bcgd: #111319;
	--quat-bcgd: #191c26;
	--prim-text: #303030;
	--scnd-text: #9da4bd;
	--tert-text: #555555;
	--quat-text: rgba(157, 164, 189, 0.6);
}
